@model IEnumerable<Subject>

@{
    ViewData["Title"] = "База предметов";
}

<div class="text-center">
    <h1 class="display-4">База предметов</h1>
    <p>Список предметов</p>
</div>

<div class="container">
    @if (Model.Count() > 0)
    {
        <table class="table table-striped  content-table  table-bordered table-my">
            <thead>
                <tr>
                    <th>Предмет</th>
                    <th>Преподаватель</th>
                    <th>
                        <a asp-controller="Subject" asp-action="Create" class="btn btn-primary">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SubjectName</td>
                        <td>@item.Teacher</td>
                        <td>
                            <a asp-controller="Subject" asp-route-Id="@item.Id" asp-action="Edit" class="btn btn-primary">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a asp-controller="Subject" asp-route-Id="@item.Id" asp-action="Delete" class="btn btn-dark">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p> Список предметов пуст. </p>
    }
</div>

